requests
pandas
streamlit
schedule
matplotlib
ta
px
plotly
joblib
xgboost
numpy
tenacity
openai
feedparser
google-generativeai
python-dotenv
fastapi
uvicorn
scikit-learn
sqlalchemy
psycopg2-binary
gdown
pydrive